 {{> header}}
  <div class="main">
    <div class="profile-bio">
      <div class="profile-bio-image">
        <img src="{{cafe.image_name}}" />
      </div>
      <div class="profile-bio-details">
        <h1>{{cafe.name}}</h1>
        <h4>{{cafe.address}}</h4>
        <h4>{{cafe.price_range}}</h4>
        <p>{{cafe.description}}</p>
      </div>
    </div>
    <hr />
    <div class="profile-details">
      <div class="profile-details-left">
        <h2>Top Sellers</h2>
        {{#each cafe.items}}
        <h5>{{this}}</h5>
        {{/each}}
      </div>
      <div class="profile-details-right">
        <h2>Past Reviews</h2>
        <div class="reviews-search">
          <form action="/search_review?cafe_id={{cafe.cafe_id}}" method="post">
          <div class="reviews-search-bar">
            <input name="searchInputReview" id="reviews-search-query-input" type="search" placeholder="Search..." value="{{searchInputReview}}" />
            <button id="reviews-search-query-submit" type="submit">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>
            </button>
          </div>
          </form>
        </div>
        <div class="profile-details-right-parent">
          {{#each review}}
          <div class="profile-details-right-item">
            <a href="/profile_user?username={{username}}">
            <div class="profile-details-right-line">
              <img src="Photos/profile_picture.webp" class="profile-picture-image" />
              <h3>{{username}}</h3>
            </div>
            </a>
            <div class="profile-details-right-line">
              <h5>{{rating}}/5</h5>
              <h5>Written: {{date}}</h5>
              {{#if isEdited}}<h5 style="color:darkgray"> Edited</h5>{{/if}}
            </div>
            <p>{{comment}}</p>
            {{#if owner_response}}
            <div class="profile-details-comment">
              <h5>From Owner:</h5>
              <p>{{owner_response}}</p>
            </div>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>